.todo-wrapper {
  grid-area: 2/2/-1/-1;
  display: flex;
  flex-direction: column;
}

.todo-wrapper.expand {
  grid-area: 2/1/-1/-1;
}

.todo-wrapper > div {
  display: flex;
  flex-direction: column;
}

.todo {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
  padding: 3rem;
  font-size: 3rem;
  border-bottom: solid #8d99ae 2px;
  cursor: pointer;
}

.todo:hover {
  background-color: #f8f8f8;
}

.todo input {
  margin-right: 2rem;
}

.todo-due-date {
  margin-top: 2rem;
}

.todo input {
  appearance: none;
  width: 3rem;
  height: 3rem;
  border: solid black 1px;
}

.todo input:checked:before {
  content: "✓";
  display: block;
  text-align: center;
  font-size: 3rem;
}

form #description {
  outline: none;
  resize: none;
  padding: 1rem;
  width: 60rem;
}

form #title,
form #description,
form #priority {
  font-size: 2rem;
  outline: none;
}

form #duedate {
  font-size: 1.5rem;
  outline: none;
}

form .desc-wrapper {
  display: flex;
}

form #project {
  align-self: start;
  margin-top: 1.5rem;
  font-size: 2rem;
  outline: none;
}

form div {
  text-align: end;
}

form div * {
  padding: 1.5rem;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

form .submit-todo {
  background-color: #4caf50;
}

form .close-todo {
  background-color: #ff9800;
  margin-right: 2rem;
}

.priority.high .fa-star {
  color: #e63946;
}

.priority.medium .fa-star {
  color: #ffb703;
}

.priority.low .fa-star {
  color: #06d6a0;
}

.priority {
  display: inline-block;
  margin-right: 2rem;
}

.full-todo {
  display: flex;
  margin: 0 5rem;
  padding: 3rem;
  font-size: 3rem;
  justify-content: space-between;
}

.full-todo .desc {
  overflow: hidden;
  max-width: 45vw;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.edit-btn {
  padding: 1rem;
}

.edit-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.desc .fa-arrow-up-right-from-square {
  padding: 1rem;
  cursor: pointer;
}

.desc .fa-arrow-up-right-from-square:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.full-desc {
  padding: 2rem;
  font-size: 2.5rem;
  border: 1px solid black;
  max-width: 50%;
  word-break: break-all;
  background-color: white;
}

.close-desc {
  background-color: #ff9800;
  margin: 1rem auto;
  display: block;
  font-size: 2rem;
  padding: 1rem;
  border: none;
}
